$color-primary: #21243D;
$themebg: #202B30;
$themecolor: #8A979E;
$leftbg: #1D3459;
$borcolor: #eeeeee;
$tabtitbg: #f2f2f2;
$btnbg: #f2f2f2;
$btnbghover: #f2f2f2;
$minorcolor: #999999;
$notice: #F76919;