@font-face {
    font-family: 'iconfont_trz';
    /* project id 1416856 */
    src: url('http://at.alicdn.com/t/font_1416856_e3sk8djgowd.eot');
    src: url('http://at.alicdn.com/t/font_1416856_e3sk8djgowd.eot?#iefix') format('embedded-opentype'),
        url('http://at.alicdn.com/t/font_1416856_e3sk8djgowd.woff2') format('woff2'),
        url('http://at.alicdn.com/t/font_1416856_e3sk8djgowd.woff') format('woff'),
        url('http://at.alicdn.com/t/font_1416856_e3sk8djgowd.ttf') format('truetype'),
        url('http://at.alicdn.com/t/font_1416856_e3sk8djgowd.svg#iconfont') format('svg');
}

.iconfont_trz {
    font-family: "iconfont_trz" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin centerByTop($top) {
    position: absolute;
    top: $top;
    right: 0;
    left: 0;
    margin: 0 auto;
}


@mixin opacity($num) {
    filter: alpha(opacity=$num);
    -moz-opacity: $num;
    -khtml-opacity: $num;
    opacity: $num;
}


@mixin mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}


$themebg:#21243D;
$themecolor:#FFF;
$leftbg:#202B30;
$borcolor:#eeeeee;
$tabtitbg:#f2f2f2;
$btnbg:#f2f2f2;
$btnbghover:#f2f2f2;
$minorcolor:#999999;
$notice:#ff7200;


.clear3 {
    zoom: 1;
}

/*==for IE6/7 Maxthon2==*/
.clear3:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.oringe {
    color: $notice !important;
}


.el-input__inner {
    border-color: $borcolor;
}

.notice_content {
    border: 1px solid $borcolor;
}

.el-submenu__title {
    align-items: center;
    color: $themecolor !important;
}

.el-submenu__title img {
    margin-right: 12px;
}


* {
    // line-height: 1;
    box-sizing: border-box;
}

@mixin borderbot($c) {
    border-bottom: 1px solid $c;
}

.borderbot {
    border-bottom: 1px solid #ebebeb;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
    justify-content: flex-end;
}

.textleft {
    text-align: left;
}

$themec: #555;
$blue: #5cb1f6;
$grey: #909399;
$red: #ff7200;
$dark_grey: #7c7c7c;

.blue {
    color: $blue;
}

.disflex {
    display: flex;
}



.bgfff {
    background: #fff;
}

@mixin text1 {
    white-space: nowrap;
    /*强制一行显示*/
    overflow: hidden;
    /*超出部分隐藏*/
    text-overflow: ellipsis;
    /*最后添加省略号*/
}

@mixin text($index) {
    overflow: hidden;

    text-overflow: ellipsis;

    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: $index;
}

.m-width-1240 {
    width: 100%;
    margin: 0 auto;
    max-width: 1240px;
}

.padd25 {
    padding: 25px;
}

.margintop25 {
    margin: 25px 0;
}

.m-title {
    font-size: 20px;
    padding-bottom: 15px;

    i {
        padding-right: 12px;
    }
}

.pro-filter {
    .el-form-item {
        margin-bottom: 0;
    }

    .el-form-item__label {
        width: 90px;
    }
}

.bgfff {
    background: #FFF;
}

.padd25 {
    padding: 25px;
}

.martop20 {
    margin-top: 20px;
}

.m-title {
    font-size: 20px;
    padding-bottom: 15px;

    i {
        padding-right: 12px;
    }
}

.table .el-table__row:nth-child(odd) {
    background: rgba(250, 250, 250, 1);
}

.page-box {
    padding: 10px 0;
}